body {
    font-family: Arial, sans-serif;
    background-image: url('sua-imagem-de-fundo.jpg'); /* Substitua pelo URL da imagem desejada */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: rgba(55, 86, 239, 0.5); /* Fundo semi-transparente para melhor legibilidade */
    display: flex;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}