<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>E-mail</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/usuario/salvar" method="POST">
        <div>
            <input type="text" name="nome" placeholder="Digite seu nome">
        </div>
        <div>
            <input type="text" name="codigo" placeholder="Digite se CPF">
        </div>
        <button>Registrar</button>
    </form>
</body>
</html>